.appContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    align-content: center;
    font-size: 30;
    color: #010101;
    padding: 30px;
}